.form-check{
    padding-top: 10px;
    height: 126px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
}

.total{
    padding-top: 10px;
    height: 64px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
}

.form-check img{
    width: 103px;
    height: 69px;
}

.summary {
    height: 180px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
}

.summary button {
    border-radius: 25px;
    background: #DB3022;
}